<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LoggingSQLExceptionMapperAppender"
              class="org.kiwiproject.test.logback.InMemoryAppender"/>

    <appender name="LoggingJdbiExceptionMapperAppender"
              class="org.kiwiproject.test.logback.InMemoryAppender"/>

    <logger name="org.kiwiproject.dropwizard.util" level="TRACE"/>

    <logger name="org.kiwiproject.dropwizard.util.exception.LoggingSQLExceptionMapper" level="ERROR">
        <appender-ref ref="LoggingSQLExceptionMapperAppender"/>
    </logger>

    <logger name="org.kiwiproject.dropwizard.util.exception.LoggingJdbiExceptionMapper" level="ERROR">
        <appender-ref ref="LoggingJdbiExceptionMapperAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
